@import 'boostrap';
@import '~/node_modules/bootstrap/scss/bootstrap.scss';

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
  }

a {
  display: inline-block;
}

img {
  max-width: 100%;
}
